<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#article" class="skip-link">Menuju ke konten</a>
  <app-header></app-header>
  <main id="maincontent">
    <hero-app></hero-app>
    <section class="article" id="article">
      <h2 class="article__heading">Pelayanan kami</h2>
      <resto-list></resto-list>
    </section>
  </main>
<app-footer></app-footer>
</body>
</html>
