<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="website restoran">
    <meta name="keywords" content="restoran">
    <meta name="author" content="irfan fauzi">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#article" class="skip-link">Menuju ke konten</a>
  <app-header></app-header>
  <main id="mainContent">
    
    <!-- <hero-app></hero-app>
    <section class="article" id="article">
      <h2 class="article__heading">Pelayanan kami</h2>
      <resto-list></resto-list>
    </section>
  </main> -->
  </main>
  <div class="shadow"></div>
<app-footer></app-footer>
</body>
</html>
