.article {
  max-width: 1200px;
  margin: 5rem auto;
  padding: 0 2rem;
  color: #424444;
  font-family: "Montserrat", sans-serif;
  &__heading {
    text-align: center;
    margin-bottom: 5rem;
  }
  resto-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }
  &__item {
    img {
      height: 250px;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
    .title {
      font-size: 1rem;
      margin: 15px 0;
    }
    .city {
      font-size: 0.9rem;
    }
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    background: #e4f5f2;
    border-bottom: #b3bdbb solid 1px;
    padding: 10px;
    .rating {
      color: #e87109;
      font-weight: 600;
      font-size: 1rem;
    }
  }
}
@media only screen and (max-width: 868px) {
  .article {
    margin-top: 10rem;
    resto-list {
      .title {
        font-size: 0.9rem;
        font-weight: 600;
        margin: 15px 0;
      }
      .city {
        font-size: 0.8rem;
        font-weight: 600;
      }
      .desc {
        font-size: 0.8rem;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .article {
    width: 100%;
    margin: 10rem 0;
    padding: 0;
    resto-list {
      img {
        padding: 5px;
      }
      .title {
        font-size: 1.1rem;
        font-weight: 600;
        margin: 15px 10px;
        
      }
      .city {
        font-size: 1rem;
        font-weight: 600;
      }
      .desc {
        font-size: 0.9rem;
        margin: 15px 10px;
        line-height: 1.4;
      }
    }
  }
}
