.btn-favorite {
  position: fixed;
  bottom: 18px;
  right: 18px;
  width: 66px;
  height: 66px;
  border-radius: 50px;
  cursor: pointer;
  border: rgb(245, 245, 245) solid 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}
.save {
  background: rgb(120, 203, 214);
  transition: 0.2s;
  &:hover {
    background: rgb(53, 155, 223);
    transform: scale(1.1);
  }
}
.remove{
  background: rgb(236, 171, 196);
  transition: 0.2s;
  &:hover {
    background: rgb(240, 138, 177);
    transform: scale(1.1);
  }
}