.favorite-page {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  .title-page {
    margin: 2rem auto;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(71, 71, 71);
  }
  .article {
    // border: red solid 1px;
    margin: 0 auto;
  }
  @media only screen and (max-width: 868px) {
    .title-page {
      margin: 110px 0 20px 0;
    }
  }
}
