app-footer {
  display: block;
}
footer {
  .flex {
    display: flex;
    // border: red solid 1px;
    justify-content: center;
    gap: 0;
    margin: 1rem 0;
  }
  background: rgb(199, 196, 196);
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  .wrap {
    // border: red solid 1px;
    margin: 2rem 0;
    a {
      color: black;
      display: inline-block;
      padding: 1rem;
    }
    p {
      font-size: 0.9rem;
      // border: red solid 1px;
      max-width: 500px;
      line-height: 1.5;
      margin-top: 0.5rem;
    }
    .title {
      padding: 0 1rem;
    }
  }
  h3 {
    font-size: 1.1rem;
  }
  .social-media {
    width: 30px;
    height: 30px;
  }
 

  .logo {
    width: 150px;
    height: max-content;
   
  }
}
@media only screen and (min-width: 868px) {
  footer {
    justify-content: space-between;
    //border: red solid 1px;
    .container {
      display: flex;
      // border: red solid 1px;
      width: 1200px;
      margin: auto;
      justify-content: space-between;
      .title {
        text-align: left;
        margin-bottom: 2rem;
      }
      .wrap {
        p {
          text-align: left;
          // /border: red solid 1px;
          max-width: 350px;
        }
      }
      .penutup {
        //border: red solid 1px;
        position: relative;
        img {
          //border: red solid 1px;
          position: relative;
          left: -100px;
          top: 0;
        }
      }
    }
  }
}
