app-header {
  display: block;
  header {
    background: rgb(255, 254, 254);
    width: 100%;
    box-shadow: 0.1px 1.8px 17.2px -8px rgba(0, 0, 0, 0.022),
      0.3px 4.4px 43.4px -8px rgba(0, 0, 0, 0.031),
      0.7px 9px 88.6px -8px rgba(0, 0, 0, 0.039),
      1.5px 18.6px 182.5px -8px rgba(0, 0, 0, 0.048),
      4px 51px 500px -8px rgba(0, 0, 0, 0.07);
    .logo {
      width: 180px;
      height: 60px;
    }
    .nav {
      display: flex;
      max-width: 1200px;
      margin: auto;
      padding: 0 1.5rem;
      height: 80px;
      justify-content: space-between;
      align-items: center;
      .nav__title {
        color: rgb(44, 44, 43);
        font-family: "Caveat", cursive;
        font-size: 2.2rem;
      }
      .nav__list {
        display: flex;
        gap: 1rem;
        // border: red solid 1px;
        position: relative;

        .nav__item {
          a {
            color: rgb(24, 23, 23);
            font-family: "Montserrat", sans-serif;
            cursor: pointer;
            text-transform: lowercase;
            letter-spacing: 2px;
            transition: 0.2s ease-in-out;
            display: inline-block;
            padding: 13px;
            font-size: 1.1rem;
            width: 100%;
          }
          :hover {
            color: rgb(255, 132, 0);
          }
        }
      }
    }
    .nav__btn {
      display: none;
    }
  }

  @media only screen and (max-width: 868px) {
    header {
      top: 0;
      position: fixed;
      z-index: 201;
      .nav__btn {
        display: block;
        border: rgb(146, 142, 142) solid 1px;
        font-size: 2.1rem;
        background: none;
        cursor: pointer;
        padding: 0.1rem 0.5rem;
      }
      .nav {
        position: relative;

        .nav__list {
          flex-direction: column;
          position: absolute;
          width: 98%;
          z-index: 90;

          background: rgb(252, 251, 251);
          transform: translate(-1000px, 150px);
          transition: 0.2s ease-in-out;
          padding: 2rem;

          .nav__item {
            a {
              font-size: 1.5rem;
            }
          }
        }
        .nav__title {
          font-size: 2.1rem;
        }
        .show {
          transform: translate(-30px, 170px);
        }
      }
    }
  }
}
