@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Montserrat:wght@100;200;300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

app-header {
  display: block;
}

app-header header {
  background: #fffefe;
  width: 100%;
}

app-header header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 0 1.5rem;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

app-header header .nav .nav__title {
  color: #2c2c2b;
  font-family: "Caveat", cursive;
  font-size: 2.2rem;
}

app-header header .nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  position: relative;
}

app-header header .nav .nav__list .nav__item a {
  color: #181717;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-transform: lowercase;
  letter-spacing: 2px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: inline-block;
  padding: 13px;
  font-size: 1.1rem;
  width: 100%;
}

app-header header .nav .nav__list .nav__item :hover {
  color: #ff8400;
}

app-header header .nav__btn {
  display: none;
}

@media only screen and (max-width: 868px) {
  app-header header .nav__btn {
    display: block;
    border: none;
    font-size: 2.1rem;
    background: none;
    cursor: pointer;
    padding: 0 px;
  }
  app-header header .nav {
    position: relative;
  }
  app-header header .nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 98%;
    z-index: 90;
    background: #fcfbfb;
    -webkit-transform: translate(-1000px, 150px);
            transform: translate(-1000px, 150px);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    padding: 2rem;
  }
  app-header header .nav .nav__list .nav__item a {
    font-size: 1.5rem;
  }
  app-header header .nav .nav__title {
    font-size: 2.1rem;
  }
  app-header header .nav .show {
    -webkit-transform: translate(-30px, 170px);
            transform: translate(-30px, 170px);
  }
}

.hero {
  height: 550px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 6;
  background: url("https://raw.githubusercontent.com/irfan-fauzi/resto-app/main/src/public/images/heros/hero-image_4.jpg");
}

.hero ::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #ebe1e1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
}

.hero .hero__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 0 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.hero .hero__inner .text-wrap h1 {
  color: #ff8400;
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 0.9;
}

.hero .hero__inner .text-wrap span {
  font-size: 1rem;
}

.hero .hero__inner .text-wrap h2 {
  font-size: 3rem;
}

.hero .hero__inner .text-wrap h3 {
  font-weight: 600;
  font-size: 1.6rem;
}

.hero .hero__inner .text-wrap h4 {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 1rem 0;
  padding-right: 3rem;
}

.hero .hero__inner .text-wrap .hero__btn {
  background: #1b1b1b;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero .hero__inner .text-wrap .hero__btn:hover {
  background: #ff8400;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: black;
}

.hero .hero__inner .img-wrap {
  width: 100%;
}

@media only screen and (max-width: 868px) {
  .hero {
    height: 370px;
  }
  .hero .hero__inner .text-wrap h1 {
    font-size: 2.3rem;
  }
  .hero .hero__inner .text-wrap h2 {
    font-size: 1.5rem;
  }
  .hero .hero__inner .text-wrap h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  .hero .hero__inner .text-wrap h4 {
    margin: 0.8rem 0;
    font-size: 0.8rem;
  }
  .hero .hero__inner .text-wrap .hero__btn {
    text-transform: lowercase;
    font-size: 0.8rem;
    padding: 0.9rem 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    height: 100%;
    padding: 2rem 0;
  }
  .hero .hero__inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .hero .hero__inner .text-wrap {
    padding: 2rem 0;
  }
  .hero .hero__inner .text-wrap h1 {
    font-size: 4.8rem;
  }
  .hero .hero__inner .text-wrap h2 {
    font-size: 2rem;
  }
  .hero .hero__inner .text-wrap h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  .hero .hero__inner .text-wrap h4 {
    margin: 1.5rem 0;
    font-size: 1rem;
    padding: 0;
  }
  .hero .hero__inner .text-wrap .hero__btn {
    letter-spacing: 1;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0.9rem 1.5rem;
  }
}

.article {
  max-width: 1200px;
  margin: 5rem auto;
  padding: 0 2rem;
  color: #424444;
  font-family: "Montserrat", sans-serif;
}

.article__heading {
  text-align: center;
  margin-bottom: 5rem;
}

.article resto-list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.article__item img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.article__item .title {
  font-size: 1rem;
  margin: 15px 0;
}

.article__item .city {
  font-size: 0.9rem;
}

.article .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0;
  background: #e4f5f2;
  border-bottom: #b3bdbb solid 1px;
  padding: 10px;
}

.article .flex .rating {
  color: #e87109;
  font-weight: 600;
  font-size: 1rem;
}

@media only screen and (max-width: 868px) {
  .article resto-list .title {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 15px 0;
  }
  .article resto-list .city {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .article resto-list .desc {
    font-size: 0.8rem;
  }
}

footer {
  background: #353333;
  height: 80px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

footer h4 {
  font-family: "Caveat", cursive;
  font-size: 2rem;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}
/*# sourceMappingURL=main.css.map */